@CHARSET "UTF-8";


html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/**************************************************************** GENERICS ***/

/* border radius 8 */
.bdr_r8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* border radius 5 */
.bdr_r5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* border radius 3 */
.bdr_r3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* border enable */
.bdr {
    border-style: solid;
    border-width: 1px;
}

.bdr_w2 {
    border-style: solid;
    border-width: 2px !important;
}

table.th_l th { text-align: right; }
table.th_r th { text-align: left; }
table.td_l td { text-align: left; }
table.td_r td { text-align: right; }

table {
    text-align: left;
}

.mainFont { font-family: 'Merriweather Sans', sans-serif }

.fLargest { font-size: 1.6em }
.fLarger { font-size: 1.3em }
.fLarge { font-size: 1.1em }
.fMedium { font-size: 1.0em }
.fSmall { font-size: 0.9em }
.fSmaller { font-size: 0.8em }
.fSmallest { font-size: 0.7em }

.l { text-align: left }             /* left */
.c { text-align: center }           /* centre */
.r { text-align: right }            /* right */
.i { font-style: italic }           /* italic */
.u { text-decoration: underline }   /* underline */

/* mnemonic - marginCenter */
.mc {
	margin-left: auto;
	margin-right: auto
}

.p0 { padding: 0; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }

.p05 { padding: 0 5px; }
.p010 { padding: 0 10px; }
.p010 { padding: 0 15px; }
.p020 { padding: 0 20px; }

.p5_0 { padding: 5px 0px; }
.p10_0 { padding: 10px 0px; }
.p15_0 { padding: 15px 0px; }
.p20_0 { padding: 20px 0px; }

.m0 { margin: 0; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }

.m05 { margin: 0 5px; }
.m010 { margin: 0 10px; }
.m010 { margin: 0 15px; }
.m020 { margin: 0 20px; }

.m5_0 { margin: 5px 0px; }
.m10_0 { margin: 10px 0px; }
.m15_0 { margin: 15px 0px; }
.m20_0 { margin: 20px 0px; }

.li_p10 li { padding: 10px; }
.li_p10_0 li { padding: 10px 0; }
.li_p010 li { padding: 0 10px; }

.li_p5 li { padding: 5px; }
.li_p5_0 li { padding: 5px 0; }
.li_p05 li { padding: 0 5px; }

.b { font-weight: 700 }

.hidden { display: none }

.noDecor {
	list-style-type: none;
	text-decoration: none;
}

.flushTable tr th { text-align: right; }
.flushTable tr td { text-aligh: left; }


.fl { float: left; }
.fr { float: right; }

/******************************************************* GENERAL PAGE LAYOUT */

#main {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}


#content {
	position: relative;
	display: block;
	margin: 0 auto 100px auto;
	height: 100%;
    max-width: 920px;
    padding: 0 20px;
    text-align: center;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-style: solid;
	border-width: 1px 0 0 0;
	height: 30px;
	text-align: center;
	padding-top: 14px;
}


h1, h2, h3, h4 {
    font-weight: 500;
    font-family: 'Merriweather Sans', sans-serif;
}


.mainFont {
	font-family: 'Merriweather Sans', sans-serif;
}

#head {
	text-align: center;
	width: 580px;
	margin: 0 auto;
}

#head img {
	display: inline;
}

#head a {
    outline: none;
}

#head .right {
    width: 350px;
    position: relative;
    display: inline-block;
    top: -70px;
}

#head.mini {
	width: 340px;
}

#head.mini .title {
	font-size: 1.4em;
}

#head.mini .subtitle {
	font-size: 1.2em;
}

#head.mini .right {
    top: -35px;
    width: 220px;
}

#head .title {
	position: relative;
	font-size: 2.2em;
	font-weight: bold;
}

#head .subtitle {
	position: relative;
	font-size: 1.9em;
}
.navbanner {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	border-style: solid;
	border-width: 0 0 1px 0;
}

.navbanner ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbanner ul li {
	display: inline;
	margin: 0 60px;
}

.navbanner ul li a {
	font-size: 1.2em;
    text-decoration: none;
}

.navbanner ul li a:hover {
    text-decoration: underline;
}

.photo {
	box-shadow: 0px 0px 8px 2px #777777;
    -moz-box-shadow: 2px 2px 4px 0px #777777;
    -webkit-box-shadow: 2px 2px 4px 0px #777777;
    padding: 8px 8px 4px 8px;
    border-style: solid;
	border-width: 1px;
    border-color: #A6A6A6;
	display: inline-block;
	margin: 30px;
	width: 256px;
	height: auto;
    outline: none;
}

.htmlBox {
    text-align: left;
    margin-bottom: 110px;
    max-width: 640px;
}

.photo.portrait {
	width: 192px;
	height: 260px;
}

.expBox {
	display: inline-block;
	margin: 20px;
	width: 256px;
	height: 216px;
	border-style: solid;
	border-width: 2px;
	text-align: left;
	box-shadow: 2px 2px 4px 0px #777777;
    -moz-box-shadow: 2px 2px 4px 0px #777777;
    -webkit-box-shadow: 2px 2px 4px 0px #777777;
    text-decoration: none;
    overflow: hidden;
    outline: none;
}

.expBox img {
	display: inline-block;
}

.expBox.portrait {
	width: 192px;
	height: 256px;
}

.expBox span {
	background-color: #555555;
	display: block;
	padding: 1px 0 3px 5px;
	font-weight: 700;
	width: 250px;
	height: 20px;
}

.expBox p {
	font-size: 1.7em;
	margin: 10px;
}

.code {
    background-color: #1D1F21;
    padding: 5px 20px;
}

.kw1 {
    color: #81A2B5;
}

.kw2 {
    color: #F0C674;
}

.nu0 {
    color: #CC6666;
}

.co1 {
    color: #969896;
}

pre {
    color: #C5C8C6;
}

.comments {
    margin: 20px 0;
}